Import libraries

In [1]:
import pandas as pd
import numpy as np
import requests
import json
import os
import geopandas as gpd
import copy as cp

In [2]:
# get data and write to files

ic_url = 'http://opendatacommunities.org/downloads/cube-table?uri=http%3A%2F%2Fopendatacommunities.org%2Fdata%2Fsocietal-wellbeing%2Fdeprivation%2Fimd-income-score-2010'

r = requests.get(ic_url)
name = ic_url.split('%2F')[-2] + '_' + ic_url.split('%2F')[-1]
fo = open(name + '.csv', 'wb')
fo.write(r.content)
fo.close()

In [3]:
# load files (those that were just downloaded, plus the census one)

imd_income = pd.read_csv('deprivation_imd-income-score-2010.csv')
cen_health = pd.read_csv('Data_Health_Job.csv')
cen_heat = pd.read_csv('Data_Heating.csv')
cen_disab = pd.read_csv('Data_Disability.csv')
cen_depr = pd.read_csv('Data_Deprivation.csv')
cen_socec = pd.read_csv('Data_SocEc.csv')

In [4]:
# make functions to organise data

def get_meta_data(data):
    # remove unwanted columns
    meta_data = (data.drop(['CDU_ID', 'GEO_CODE', 'GEO_LABEL', 'GEO_TYPE', 'GEO_TYP2'], axis = 1)\
                .iloc[:1]\
                .T
                )
    
    # separate into various columns
    for i in range(meta_data.iloc[0][0].count(' - ')):
        name = str(meta_data.iloc[0][0].split(' - ')[i].split(' : ')[0])
        
        # extract individual strings
        temp_list = []
        for j in range(len(meta_data)):
            var_string = str(meta_data.iloc[j][0].split(' - ')[i].split(' : ')[1])
            temp_list.append(var_string)
            #print(temp_list)

        # make columns
        meta_data[name] = temp_list
        #print(temp_list)
        
    # remove unwanted column
    meta_data = meta_data.drop([0], axis = 1)
    
    # clean headers
    meta_data.columns = meta_data.columns.str.strip().str.lower().str.replace(' ', '_').str.replace(')', '').str.replace('(', '').str.replace(';', '')
        
    return(meta_data)


def clean_census_data(data):
    # remove unwanted columns
    clean_data = (data.drop(['CDU_ID', 'GEO_LABEL', 'GEO_TYPE', 'GEO_TYP2'], axis =1)\
                  .drop([0], axis = 0)\
                  .set_index('GEO_CODE')\
                  .T)
    
    # merge with census data
    #meta_data = get_meta_data(data)
    #clean_data = meta_data.join(clean_data)
    
    return(clean_data)

def filter_totals(cen_data):
    
    meta_data = get_meta_data(cen_data)

    for i in range(len(meta_data)):
        for j in range(len(meta_data.columns)):
            if 'Total\ ' in meta_data.iloc[i][j]: #dat.iloc[1][3] # [row] [column]
                meta_data.iloc[i][j] = np.nan
            
    meta_data = meta_data.dropna(axis = 0)
    
    # get column names for filtering
    cl_cen_dat = clean_census_data(cen_data)
    col_list = []
    for i in range(len(cl_cen_dat.columns)):
        if 'E01' in cl_cen_dat.columns[i]:
            col_list.append(cl_cen_dat.columns[i])
    
    # merge with census data
    data = meta_data.join(cl_cen_dat)
    data = data[col_list]
    
    return(data.T)

In [5]:
def pnt_of_tot(old_data):
    
    data = old_data.T.astype(int)
    data['sum'] = data.sum(axis = 1, skipna = all)
    
    new_df = pd.DataFrame(index = data.index, columns = data.columns)
    for i in range(len(data)):
        for j in range(int(len(data.columns) - 1)):
            new_df.iloc[i][j] = (data.iloc[i][j] / data.iloc[i][int(len(data.columns) - 1)] * 100)
    
    new_df = new_df.dropna(axis = 1)

    return(new_df)

In [6]:
# clean dataframes

#dat_nssec = pnt_of_tot(filter_totals(cen_nssec)) # done!
#dat_health = pnt_of_tot(filter_totals(cen_health)) # empty?
#dat_depr = pnt_of_tot(filter_totals(cen_depr)) # done!
dat_socec = pnt_of_tot(filter_totals(cen_socec))
dat_heat = pnt_of_tot(clean_census_data(cen_heat).T) # have to use clean_census_data() here becasue I only downloaded totals

In [9]:
dat_heat.head()

GEO_CODE,E01004766,E01004767,E01004768,E01004769,E01004770,E01004771,E01004772,E01004773,E01004774,E01004775,...,E01033679,E01033680,E01033681,E01033682,E01033683,E01033684,E01033685,E01033686,E01033687,E01033688
F11975,0.058277,0.0656273,0.0330762,0.0490892,0.0357013,0.0364888,0.0601146,0.0874156,0.057227,0.0304511,...,0.0525018,0.124692,0.192944,0.165643,0.156455,0.158031,0.0876781,0.0981784,0.0695649,0.0611646
F11976,0.0560683,0.0650604,0.0333236,0.0502499,0.0349105,0.039142,0.0539526,0.0909788,0.0571262,0.0338526,...,0.0507789,0.139113,0.222158,0.188834,0.188834,0.20576,0.0803999,0.106318,0.0740525,0.0571262
F11977,0.0604532,0.0661858,0.0328323,0.0479456,0.0364804,0.0338746,0.0661858,0.0839049,0.0573263,0.0270997,...,0.0541994,0.110483,0.164162,0.142795,0.124554,0.111005,0.094849,0.0901586,0.0651435,0.0651435
F11979,0.0662965,0.0331483,0.00828706,0.0165741,0.0165741,0.0248612,0.0745836,0.0497224,0.116019,0.00828706,...,0.107732,0.0994448,0,0.0497224,0.00828706,0.00828706,0.0828706,0.0828706,0.0911577,0.0994448
F11980,0.0158504,0.0475511,0.0158504,0,0.0317007,0.0317007,0.126803,0.0792519,0.142653,0.0158504,...,0.174354,0.0951022,0,0.0475511,0,0,0.0951022,0.0951022,0.0634015,0.110953

In [10]:
dat_heat.T.to_csv('cleaned_heat.csv')

In [21]:
dat_socec.head()

Empty DataFrame
Columns: [E01004766, E01004767, E01004768, E01004769, E01004770, E01004771, E01004772, E01004773, E01004774, E01004775, E01004776, E01004777, E01004778, E01004779, E01004780, E01004781, E01004782, E01004783, E01004784, E01004785, E01004786, E01004787, E01004788, E01004789, E01004790, E01004791, E01004792, E01004793, E01004794, E01004795, E01004796, E01004797, E01004798, E01004799, E01004800, E01004801, E01004802, E01004803, E01004804, E01004805, E01004806, E01004807, E01004808, E01004809, E01004810, E01004811, E01004812, E01004813, E01004814, E01004815, E01004816, E01004817, E01004818, E01004819, E01004820, E01004822, E01004823, E01004824, E01004825, E01004826, E01004827, E01004828, E01004829, E01004830, E01004831, E01004832, E01004833, E01004834, E01004835, E01004836, E01004837, E01004838, E01004839, E01004840, E01004841, E01004842, E01004843, E01004844, E01004845, E01004846, E01004847, E01004848, E01004849, E01004850, E01004851, E01004852, E01004853, E01004854, E01004855, E01004856, E01004857, E01004858, E01004859, E01004860, E01004861, E01004862, E01004863, E01004864, E01004865, E01004866, ...]
Index: []

[0 rows x 1674 columns]

In [7]:
cen_nssec.head()

,CDU_ID,GEO_CODE,GEO_LABEL,GEO_TYPE,GEO_TYP2,F46769,F46773,F46783,F46787,F46791,...,F39439,F39441,F39442,F39443,F39445,F39446,F39447,F39449,F39450,F39451
0,NaN,NaN,NaN,NaN,NaN,Age : Age 50 and over - Long-term health probl...,Age : Age 50 and over - Long-term health probl...,Age : Age 50 and over - Long-term health probl...,Age : Age 50 and over - Long-term health probl...,Age : Age 50 and over - Long-term health probl...,...,Age : Age 35 to 49 - General health : Fair hea...,Age : Age 35 to 49 - General health : Fair hea...,Age : Age 35 to 49 - General health : Fair hea...,Age : Age 35 to 49 - General health : Fair hea...,Age : Age 35 to 49 - General health : Fair hea...,Age : Age 35 to 49 - General health : Fair hea...,Age : Age 35 to 49 - General health : Fair hea...,Age : Age 35 to 49 - General health : Fair hea...,Age : Age 35 to 49 - General health : Fair hea...,Age : Age 35 to 49 - General health : Fair hea...
1,23905.0,E01004766,Bolton 005A,Lower Super Output Areas and Data Zones,LSOADZ,613,30,109,61,66,...,13,5,3,2,14,8,6,17,12,5
2,23906.0,E01004767,Bolton 005B,Lower Super Output Areas and Data Zones,LSOADZ,571,36,108,72,63,...,25,5,2,3,16,6,10,23,11,12
3,23907.0,E01004768,Bolton 001A,Lower Super Output Areas and Data Zones,LSOADZ,581,105,171,97,84,...,12,3,1,2,8,3,5,10,5,5
4,23908.0,E01004769,Bolton 003A,Lower Super Output Areas and Data Zones,LSOADZ,592,81,157,113,55,...,12,4,2,2,6,2,4,14,8,6

In [ ]:
neis = gpd.read_file('shapefiles/Unit2_exercise1Data/with_OA.shp')

In [ ]:
neis.plot()

In [ ]:
neis = gpd.read_file('lsoas/Lower_Layer_Super_Output_Areas_December_2001_Generalised_Clipped_Boundaries_in_England_and_Wales.shp')

In [ ]:
neis.plot()